#
# Config variables for the Titanium Mobile SDK tests
#

# The MobileSDK zip to run this test suite with. Variables used in this string:
# %(mobileDir)s: The absolute path to the titanium_mobile source folder
# %(version)s: The current version recorded by build/titanium_version.py
# %(platform)s: The platform that drillbit is currently running on
mobileSdkZip = "%(mobileDir)s/dist/mobilesdk-%(version)s-%(platform)s.zip"

# The MobileSDK directory to run this test suite with. This variable
# will _override_ the mobileSdkZip property above, so use with caution
#
mobileSdkDir = "%(mobileDir)s/dist/mobilesdk/%(platform)s/%(version)s"

# The absolute path the Android SDK on your system
androidSdk = "/path/to/android-sdk"

# The version of the iPhone Simulator to run
iosVersion = "4.0"

# Whether or not to automatically delete temporary project folders after they
# are created in the test suite. It's useful to turn this off when debugging
autoDeleteProjects = True

# Whether or not to suppress the output when running an SDK script
suppressOutput = True

# Whether or not to run the various SDK scripts with the python debugger
# When this flag is enabled, output is no longer suppressed (since PDB
# requires interactive input / output)
runWithPdb = False
