{
  "extends": [ "axway/env-node", "axway/+mocha"],
  "globals": {
    "Ti": false
  },
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "script"
  },
  "rules": {
    "strict": ["error", "global"]
  },
}
