{
  "extends": [ "axway/env-node"],
  "parserOptions": {
    "sourceType": "script"
  },
  "overrides": [
    {
      "files": [ "android/runtime/common/src/js/**/*.js", "android/modules/**/src/js/**/*.js" ],
      "parserOptions": {
        "ecmaVersion": 2020
      },
      "globals": {
        "kroll": "readonly",
        "Titanium": "readonly"
      }
    },
    {
      "files": [ "android/app/src/main/assets/Resources/**/*.js", "iphone/Resources/**/*.js" ],
      "extends": [ "axway/env-titanium" ]
    },
    {
      "files": [ "common/Resources/**/*.js" ],
      "extends": [ "axway/env-titanium" ],
      "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
      },
      "globals": {
        "kroll": "readonly"
      },
      "rules": {
        "node/no-deprecated-api": "off",
        "node/no-unsupported-features/es-syntax": "off",
        "node/no-unsupported-features/node-builtins": ["warn", { "version": "10.11.0" }]
      }
    },
    {
      "files": [ "android/cli/tests/test-android-manifest.js", "build/**/test-*.js" ],
      "extends": [ "axway/env-node", "axway/+mocha"]
    },
    {
      "files": [ "tests/**/*.js" ],
      "extends": [ "axway/env-titanium", "axway/+mocha"]
    },
    {
      "files": [ "tests/Resources/ti.ui.webview.script.tag.js" ],
      "extends": [ "axway/env-titanium", "axway/+mocha"],
      "parserOptions": {
        "ecmaVersion": 3,
        "sourceType": "script"
      }
    },
    {
      "files": [ "tests/Resources/es6.*.js", "tests/Resources/util.test.js" ],
      "extends": [ "axway/env-titanium", "axway/+mocha"],
      "parserOptions": {
        "sourceType": "module"
      },
      "rules": {
        "node/no-deprecated-api": "off",
        "node/no-unsupported-features/es-syntax": "off",
        "node/no-unsupported-features/node-builtins": ["warn", { "version": "10.11.0" }]
      }
    },
    {
      "files": [ "cli/lib/tasks/*.js", "cli/hooks/webpack.js", "cli/lib/webpack/**/*.js" ],
      "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
      }
    }
  ]
}
