*.pyc
/dist
.sconsign.dblite
.DS_Store
*~
*.swp
*.orig
*.rej
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
._*
npm-debug.log

node_modules/

retirejs.output.json

/support/ti_mocha_script/testApp

/titanium-mobile-mocha-suite
junit.*.xml
junit_report.xml

/iphone/TitaniumKit/Carthage
/iphone/TitaniumKit/docs
/iphone/TitaniumKit/build
/iphone/lib/libTiCore.a

.vscode/
/android/runtime/v8/src/native/V8Snapshots.h

.nyc_output/
coverage/

/android/titanium/.settings
/android/titanium/.project
/android/titanium/.classpath
/android/kroll-apt/bin
/android/kroll-apt/.settings
/android/kroll-apt/.project
/android/kroll-apt/.classpath
/android/app/.settings
/android/app/.project
/android/app/.classpath
/android/.settings
/android/.project
