*.pyc
dist
.sconsign.dblite
.DS_Store
*~
project.xcworkspace
xcuserdata
*.swp
*.orig
*.rej
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
anvil/driver/config.js
._*
npm-debug.log
support/node_modules/*
!support/node_modules/titanium-sdk
anvil/driver/titanium_mobile
anvil/hub/config.js
support/mobileweb/dependencyAnalyzer/node_modules/*
anvil/driver/node_modules/*
