*.pyc
dist
.sconsign.dblite
.DS_Store
*~
project.xcworkspace
xcuserdata
*.swp
*.orig
*.rej
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
anvil/driver/config.js
._*
npm-debug.log
node_modules
anvil/driver/titanium_mobile
anvil/hub/config.js
