<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>__DEBUGGER_HOST__</string>
	<key>port</key>
	<string>__DEBUGGER_PORT__</string>
	<key>airkey</key>
	<string>__DEBUGGER_AIRKEY__</string>
	<key>hosts</key>
	<string>__DEBUGGER_HOSTS__</string>
</dict>
</plist>
