<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>classes</key>
		<dict>
</dict>

		<key>classes_density</key>
		<dict>
</dict>

		<key>ids</key>
		<dict>
</dict>

		<key>ids_density</key>
		<dict>
</dict>

		<key>tags</key>
		<dict>
</dict>

		<key>tags_density</key>
		<dict>
</dict>

	</dict>
</plist>