<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startup-3</key>
	<dict>
		<key>hideNavBar</key>
		<false/>
		<key>views</key>
		<array>
			<dict>
				<key>url</key>
				<string>picker3.html</string>
			</dict>
		</array>
		<key>background</key>
		<string>white</string>
		<key>backgroundnImage</key>
		<string>default.png</string>
		<key>orientation</key>
		<string>either</string>
		<key>title</key>
		<string>Pickers ahoy</string>
	</dict>
	<key>startup</key>
	<array>
		<dict>
			<key>title</key>
			<string>Video</string>
			<key>orientation</key>
			<string>either</string>
			<key>views</key>
			<array>
				<dict>
					<key>url</key>
					<string>video.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Coverflow</string>
			<key>orientation</key>
			<string>either</string>
			<key>views</key>
			<array>
				<dict>
					<key>url</key>
					<string>coverflow.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>orientation</key>
			<string>either</string>
			<key>url</key>
			<string>unitTest.js</string>
			<key>title</key>
			<string>Units</string>
		</dict>
		<dict>
			<key>preload</key>
			<string>true</string>
			<key>icon</key>
			<string>profile.png</string>
			<key>orientation</key>
			<string>either</string>
			<key>url</key>
			<string>sound.html</string>
			<key>title</key>
			<string>Media</string>
		</dict>
		<dict>
			<key>backButtonTitleImage</key>
			<string>profile.png</string>
			<key>name</key>
			<string>UI</string>
			<key>blarColor</key>
			<string>red</string>
			<key>orientation</key>
			<string>either</string>
			<key>url</key>
			<string>ui.html</string>
			<key>title</key>
			<string>Native UI</string>
		</dict>
		<dict>
			<key>orientation</key>
			<string>either</string>
			<key>url</key>
			<string>network.html</string>
			<key>title</key>
			<string>Network</string>
		</dict>
		<dict>
			<key>barColor</key>
			<string>blue</string>
			<key>views</key>
			<array>
				<dict>
					<key>url</key>
					<string>misc.html</string>
				</dict>
			</array>
			<key>background</key>
			<string>white</string>
			<key>backgroundnImage</key>
			<string>default.png</string>
			<key>orientation</key>
			<string>either</string>
			<key>title</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>hideNavBar</key>
			<false/>
			<key>views</key>
			<array>
				<dict>
					<key>url</key>
					<string>picker3.html</string>
				</dict>
			</array>
			<key>background</key>
			<string>white</string>
			<key>backgroundnImage</key>
			<string>default.png</string>
			<key>orientation</key>
			<string>either</string>
			<key>title</key>
			<string>Pickers ahoy</string>
		</dict>
		<dict>
			<key>hideNavBar</key>
			<false/>
			<key>views</key>
			<array>
				<dict>
					<key>url</key>
					<string>http://icanhascheezburger.com/</string>
				</dict>
			</array>
			<key>background</key>
			<string>white</string>
			<key>backgroundnImage</key>
			<string>default.png</string>
			<key>orientation</key>
			<string>either</string>
			<key>title</key>
			<string>Gooogle</string>
		</dict>
		<dict>
			<key>hideNavBar</key>
			<false/>
			<key>views</key>
			<array>
				<dict>
					<key>url</key>
					<string>facebook.html</string>
				</dict>
			</array>
			<key>background</key>
			<string>white</string>
			<key>backgroundnImage</key>
			<string>default.png</string>
			<key>orientation</key>
			<string>either</string>
			<key>title</key>
			<string>Facebook</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Yahoo YQL</string>
			<key>orientation</key>
			<string>either</string>
			<key>views</key>
			<array>
				<dict>
					<key>url</key>
					<string>yahoo.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Keyboard</string>
			<key>orientation</key>
			<string>either</string>
			<key>views</key>
			<array>
				<dict>
					<key>url</key>
					<string>keyboard.html</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>verboseDebugging</key>
	<true/>
	<key>id</key>
	<string>com.titaniumapp.test</string>
	<key>name</key>
	<string>Titanium Test App</string>
	<key>version</key>
	<string>0.1</string>
	<key>modules</key>
	<array>
		<string>yahoo</string>
		<string>facebook</string>
		<string>notification</string>
		<string>analytics</string>
		<string>media</string>
		<string>api</string>
		<string>app</string>
		<string>database</string>
		<string>filesystem</string>
		<string>geolocation</string>
		<string>accelerometer</string>
		<string>network</string>
		<string>platform</string>
		<string>gesture</string>
		<string>ui</string>
		<string>contacts</string>
	</array>
</dict>
</plist>
