html,
body,
form {
	height: 100%;
	width: 100%;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	display: block;
	margin: 0;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

body,
button,
input,
select,
textarea {
	font-family: Helvetica, sans, sans-serif;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}

button,
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	cursor: pointer;
	*overflow: visible;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	resize: none;
	vertical-align: top;
}

.TiContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

.TiUIWindow {
	height: 100%;
	width: 100%;
}

.TiUIElement {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	line-height: normal;
	position: absolute;
}

.TiUIButton {
	padding: 0;
	margin: 0;
	border: 0;
}

.TiUIButtonDefault {
	background: -moz-linear-gradient(
		top,
		#fff 0%,
		#fff 50%,
		#bbb);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fff),
		color-stop(0.50, #fff),
		to(#bbb));
	border-radius: 10px;
	padding: 0px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
}

.TiUIButtonDefault:hover {
	background: -moz-linear-gradient(
		top,
		#fff 0%,
		#fff 50%,
		#999);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fff),
		color-stop(0.50, #fff),
		to(#999));
}

.TiUIButtonDefault:active {background: -moz-linear-gradient(
		top,
		#bbb 0%,
		#fff 50%,
		#fff);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#bbb),
		color-stop(0.50, #fff),
		to(#fff));
}

.TiUIButtonDestructive {
	background: -moz-linear-gradient(
		top,
		#f00 0%,
		#f00 50%,
		#a00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f00),
		color-stop(0.50, #f00),
		to(#a00));
	color: white;
}

.TiUIButtonDestructive:hover {
	background: -moz-linear-gradient(
		top,
		#f00 0%,
		#f00 50%,
		#700);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f00),
		color-stop(0.50, #f00),
		to(#700));
}

.TiUIButtonDestructive:active {
	background: -moz-linear-gradient(
		top,
		#a00 0%,
		#f00 50%,
		#f00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#b00),
		color-stop(0.50, #f00),
		to(#f00));
}

.TiUIButtonCancel {
	background: -moz-linear-gradient(
		top,
		#666 0%,
		#666 50%,
		#333);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#666),
		color-stop(0.50, #666),
		to(#333));
	color: white;
}

.TiUIButtonCancel:hover {
	background: -moz-linear-gradient(
		top,
		#666 0%,
		#666 50%,
		#222);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#666),
		color-stop(0.50, #666),
		to(#222));
}

.TiUIButtonCancel:active {
	background: -moz-linear-gradient(
		top,
		#333 0%,
		#666 50%,
		#666);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#333),
		color-stop(0.50, #666),
		to(#666));
}

.TiUITab {
	background-color: silver;
	border: solid 1px black;
}
.TiUITab:active {
	background-color: gray;
}
.TiUITab.TiActiveTab {
	background-color: white;
}
.TiUITab.TiActiveTab:active {
	background-color: gray;
}

.TiMediaVideoPlayer video {
	left: 0;
	position: absolute;
	top: 0;
}

.TiMediaVideoPlayer.TiScalingNone {
	overflow: hidden;
}

.TiMediaVideoPlayer.TiScalingAspectFit video {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	width: 100%;
}

.TiMediaVideoPlayer video.fullscreen {
	background-color: #000;
	position: fixed;
}

.TiMediaVideoPlayer video:-webkit-full-screen {
	max-height: 100%;
}

.TiMediaVideoPlayer video:-moz-full-screen {
	max-height: 100%;
}

.TiUITextFieldBorderStyleNone input,
.TiUITextFieldBorderStyleLine input {
	background: transparent;
	border: 0;
}

.TiUITextFieldBorderStyleLine {
	border: solid 1px #000;
}

.TiUITextFieldBorderStyleRounded input {
	border-radius: 5px;
}
