 body, td {
	background-color:#292929;
	font-family:"Lucida Sans",Arial;
	color:white;
	font-size:12px;
	padding:2px;
	margin:2px;
}

a, label {
	color: #cc9;
	font-weight: bold;
}

a.disabled {
	color: #331;
	font-weight: bold;
	text-decoration: none;
}

#results {
	margin-top: 5px;
}

#passed-count, #failed-count, #assertion-count, #test-count {
	float: left;
	margin-bottom: 3px;
	font-size: 12px;
	width: 150px;
}

#current-test
{	
	clear: left;
	margin-bottom: 15px;
}

.line {
	background-color: #333;
	clear: both;
}

.suites
{
	margin:0px;
	padding:0px;
	margin-top: 5px;
	overflow: auto;
	width: 99%;
	position: absolute;
	top: 55px;
	bottom: 300px;
}

.suite
{
	font-family:"Lucida Sans",Arial;
	font-size: 12px;
	
	background-image: url(images/gradient.png);
	background-repeat: repeat-x;
	background-position: top left;
	background-size: auto 100%;
	background-origin: content;
	
	border: 1px solid #000;
	color:white;
	margin: 0px;
	padding: 1px;
	width: 99%;
	float: left;
	width: 175px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	vertical-align: middle;
}

.suite-status {
}

.platform-status {
	padding: 2px;
	margin-left: 5px;
	float: left;
}

.suite-name
{
	font-weight: bold;
	margin-left: 5px;
	margin-top: 10px;
}

.suite-running
{
	background: #336;
}

.suite-passed
{
	background: #363;
}

.suite-failed, .suite-error
{
	background: #633;
}

.description {
	font-size: 11px;
	margin-left: 5px;
}

.untested, .init, .building, .running, .failed, .passed, .error {
	font-size: 10px;
	color: #ccc;
	font-weight:bold;
	text-align:right;
}

.init, .building {
	color: #B7B04A;
}

.running {
	color: #66c;
}

.failed, .error {
	color: #c66;
}

.passed {
	color: #6c6;
}

#resize-bar{
	height: 8px;
	width: 99%;
	position: absolute;
	background-color: #555;
	bottom: 303px;
	left: 5px;
	right: 5px;
	cursor: n-resize;
}

#filter {
	height: 20px;
}

#console {
	position: absolute;
	top: 20px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-family: monospace;
	background-color: black;
	color: #ccc;
	overflow: auto;
	-webkit-user-select: text;
}

#console-container {
	height: 275px;
	width: 99%;
	padding: 0px;
	position: absolute;
	bottom: 5px;
	left: 5px;
	right: 5px;
}
