<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OptionsLabel</key>
	<string>Subclass of</string>
	<key>PopupMenu</key>
	<array>
		<dict>
			<key>Key</key>
			<string>proxy</string>
			<key>Title</key>
			<string>TiProxy</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>module</string>
			<key>Title</key>
			<string>TiModule</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>tiview</string>
			<key>Title</key>
			<string>TiUIView</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>tiviewproxy</string>
			<key>Title</key>
			<string>TiViewProxy</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>tiwidgetproxy</string>
			<key>Title</key>
			<string>TiUIWidgetProxy</string>
		</dict>
	</array>
	<key>TemplateSelection</key>
	<dict>
		<key></key>
		<string>TiProxy subclass</string>
		<key>proxy</key>
		<string>TiProxy subclass</string>
		<key>module</key>
		<string>TiModule subclass</string>
		<key>tiview</key>
		<string>TiUIView subclass</string>
		<key>tiviewproxy</key>
		<string>TiViewProxy subclass</string>
		<key>tiwidgetproxy</key>
		<string>TiUIWidgetProxy subclass</string>
	</dict>
</dict>
</plist>
