TI_VERSION=0.0.0



DEBUGGER_IPADDRESS=10.0.1.106
DEBUGGER_PORT=9988
DEBUGGER_HEADER=/Users/jhaynie/work/tijs/TiCore/TiCore
DEBUGGER_HEADERS=$(DEBUGGER_HEADER) $(DEBUGGER_HEADER)/runtime $(DEBUGGER_HEADER)/interpreter $(DEBUGGER_HEADER)/runtime $(DEBUGGER_HEADER)/debugger $(DEBUGGER_HEADER)/jit $(DEBUGGER_HEADER)/wtf $(DEBUGGER_HEADER)/assembler $(DEBUGGER_HEADER)/parser

OTHER_CFLAGS=$(inherited) -DDEBUGGER_ENABLED -DDEBUGGER_IPADDRESS=$(DEBUGGER_IPADDRESS) -DDEBUGGER_PORT=$(DEBUGGER_PORT)
HEADER_SEARCH_PATHS=$(inherited) $(DEBUGGER_HEADERS)

