//
// PLACE ANY BUILD DEFINITIONS IN THIS FILE AND THEY WILL BE 
// PICKED UP DURING THE APP BUILD FOR YOUR MODULE
//
// See the following webpage for instructions on the settings
// for this file:
// https://developer.apple.com/library/mac/documentation/DeveloperTools/Reference/XcodeBuildSettingRef/0-Introduction/introduction.html#//apple_ref/doc/uid/TP40003931-CH1-SW1
// 

//
// How to add a Framework (example)
//
// OTHER_LDFLAGS=$(inherited) -framework Foo
//
// Adding a framework for a specific version(s) of iPhone:
//
// OTHER_LDFLAGS[sdk=iphoneos4*]=$(inherited) -framework Foo
// OTHER_LDFLAGS[sdk=iphonesimulator4*]=$(inherited) -framework Foo
//
//
// How to add a compiler define:
//
// OTHER_CFLAGS=$(inherited) -DFOO=1
//
//
// IMPORTANT NOTE: always use $(inherited) in your overrides
// 
