.classpath/
.cxx/
.externalNativeBuild/
.gradle/
.idea/*
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
.project/
.settings/
build/
!/templates/build/
*.iml

/kroll-apt/bin/
/local.properties
/titanium/assets/Resources/ti.internal/build.properties
