<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.appcelerator.titanium">
	<application>
		<activity
			android:name="org.appcelerator.titanium.TiActivity"
			android:configChanges="${tiActivityConfigChanges}"/>
		<activity
			android:name="org.appcelerator.titanium.TiTranslucentActivity"
			android:configChanges="${tiActivityConfigChanges}"
			android:theme="@style/Theme.Titanium.Translucent"/>
		<activity
			android:name="ti.modules.titanium.media.TiCameraActivity"
			android:configChanges="${tiActivityConfigChanges}"
			android:theme="@style/Theme.Titanium.Translucent.Fullscreen"/>
		<activity
			android:name="ti.modules.titanium.media.TiVideoActivity"
			android:configChanges="${tiActivityConfigChanges}"
			android:theme="@style/Theme.Titanium.Fullscreen"/>
		<activity android:name="ti.modules.titanium.ui.android.TiPreferencesActivity"/>

		<provider
			android:name="org.appcelerator.titanium.io.TiFileProvider"
			android:authorities="${applicationId}.tifileprovider"
			android:exported="false"
			android:grantUriPermissions="true"/>

		<service
			android:name="com.appcelerator.aps.APSAnalyticsService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:exported="false"/>
	</application>
</manifest>
