html,body{height:100%;width:100%;}
body{margin:0;}

.HTML5_DOMElement {

}

.HTML5_Styleable {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	line-height: normal;
}
.HTML5_verticalLayout{
	clear: both;
}

.HTML5_verticalLayout > .HTML5_DOMElement {
	position: relative !important;
}

.HTML5_horizontalLayout > .HTML5_DOMElement {
	float: left;
	position: relative;
}

.HTML5_VideoPlayer {
	position: relative;
}

.HTML5_VideoPlayer video {
	left: 0;
	position: absolute;
	top: 0;
}

.HTML5_VideoPlayer.scaling-none {
	overflow: hidden;
}

.HTML5_VideoPlayer.scaling-aspect-fit video {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	width: 100%;
}

.HTML5_VideoPlayer video.fullscreen {
	background-color: #000;
	position: fixed;
}

.HTML5_VideoPlayer video:-webkit-full-screen {
	max-height: 100%;
}

.HTML5_VideoPlayer video:-moz-full-screen {
	max-height: 100%;
}
