html,body{height:100%;width:100%;}
body{margin:0;}

.TiUIWindow {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100%;
	width: 100%;
}

.TiUIElement {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	line-height: normal;
}

.TiLayoutsVertical{
	clear: both;
}

.TiLayoutsVertical > .TiUIElement {
	position: relative !important;
}

.TiLayoutsHorizontal > .TiUIElement {
	float: left;
	position: relative;
}

.TiVideoPlayer {
	position: relative;
}

.TiVideoPlayer video {
	left: 0;
	position: absolute;
	top: 0;
}

.TiVideoPlayer.scaling-none {
	overflow: hidden;
}

.TiVideoPlayer.scaling-aspect-fit video {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	width: 100%;
}

.TiVideoPlayer video.fullscreen {
	background-color: #000;
	position: fixed;
}

.TiVideoPlayer video:-webkit-full-screen {
	max-height: 100%;
}

.TiVideoPlayer video:-moz-full-screen {
	max-height: 100%;
}
