html,body{height:100%;width:100%;}
body{margin:0;}

.tiElement {}

.tiStyleable {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	line-height: normal;
}

.tiVerticalLayout{
	clear: both;
}

.tiVerticalLayout > .tiDOMElement {
	position: relative !important;
}

.tiHorizontalLayout > .tiDOMElement {
	float: left;
	position: relative;
}

.tiVideoPlayer {
	position: relative;
}

.tiVideoPlayer video {
	left: 0;
	position: absolute;
	top: 0;
}

.tiVideoPlayer.scaling-none {
	overflow: hidden;
}

.tiVideoPlayer.scaling-aspect-fit video {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	width: 100%;
}

.tiVideoPlayer video.fullscreen {
	background-color: #000;
	position: fixed;
}

.tiVideoPlayer video:-webkit-full-screen {
	max-height: 100%;
}

.tiVideoPlayer video:-moz-full-screen {
	max-height: 100%;
}
