html {
	font-size: 100%;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	width: 100%;
}

body {
	display: block;
	height: 100%;
	margin: 0;
	overflow: hidden;
	width: 100%;
}

.TiContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

.TiUIWindow {
	height: 100%;
	width: 100%;
}

.TiUIElement {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	line-height: normal;
	position: absolute;
}

.TiVideoPlayer {
	position: relative;
}

.TiVideoPlayer video {
	left: 0;
	position: absolute;
	top: 0;
}

.TiVideoPlayer.scaling-none {
	overflow: hidden;
}

.TiVideoPlayer.scaling-aspect-fit video {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	width: 100%;
}

.TiVideoPlayer video.fullscreen {
	background-color: #000;
	position: fixed;
}

.TiVideoPlayer video:-webkit-full-screen {
	max-height: 100%;
}

.TiVideoPlayer video:-moz-full-screen {
	max-height: 100%;
}
