# Titanium dirs and files
/build
/Resources

# Dependency directories
node_modules

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and IDE files
.DS_Store
.idea
.project
Thumbs.db

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json