<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="${config['package']}"
      android:versionCode="${config['version']}"
      android:versionName="${config['versionString']}">
    <application
      android:icon="@drawable/icon"
      android:label="${config['appName']}"
         >
        <activity
          android:name=".${config['className']}"
            android:label="${config['appName']}"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      <activity
        android:name="org.appcelerator.titanium.TitaniumActivity"
        android:label="TA"
      />
      <activity
        android:name="org.appcelerator.titanium.TitaniumTabbedActivity"
        android:label="TTA"
      />

  <provider android:authorities="titanium" android:name="org.appcelerator.titanium.TitaniumContentProvider" />
  </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest>