<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="${config['appid']}" android:versionCode="${config['appversion']}"
	android:versionName="${config['appversion']}">
	<uses-sdk android:minSdkVersion="8" />

	<!-- TI_MANIFEST -->

	<application android:icon="@drawable/appicon"
		android:label="${config['appname']}" android:name="${config['classname']}Application"
		android:debuggable="false">

		<!-- TI_APPLICATION -->

		<activity android:name=".${config['classname']}Activity"
			android:label="${config['appname']}" android:theme="@style/Theme.Titanium"
			android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- TI_ACTIVITIES -->

		<activity android:name="org.appcelerator.titanium.TiActivity"
			android:configChanges="keyboardHidden|orientation" />
		<activity android:name="org.appcelerator.titanium.TiTranslucentActivity"
			android:configChanges="keyboardHidden|orientation"
			android:theme="@android:style/Theme.Translucent" />
		<activity android:name="org.appcelerator.titanium.TiModalActivity"
			android:configChanges="keyboardHidden|orientation"
			android:theme="@android:style/Theme.Translucent" />
		<activity android:name="ti.modules.titanium.ui.TiTabActivity"
			android:configChanges="keyboardHidden|orientation" />
		<activity android:name="ti.modules.titanium.ui.android.TiPreferencesActivity" />

		<service android:name="org.appcelerator.titanium.analytics.TiAnalyticsService"
			android:exported="false" />
		<!-- TI_SERVICES -->

	</application>

	<!-- TI_PERMISSIONS -->

</manifest>
