<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="${config['appid']}"
      android:versionCode="${config['appversion']}"
      android:versionName="${config['appversion']}"
>
	<uses-sdk android:minSdkVersion="4" />
	
	<supports-screens android:smallScreens="false"
                android:normalScreens="true"
                android:largeScreens="true"
                android:anyDensity="false"
    />
    
	<application
    	android:icon="@drawable/appicon"
      	android:label="${config['appname']}"
      	android:name="${config['classname']}Application"
      	android:debuggable="false"
	>
    	<activity
        	android:name=".${config['classname']}Activity"
            android:label="${config['appname']}"
			android:theme="@style/Theme.Titanium"
            android:configChanges="keyboardHidden|orientation"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<!-- TI_ACTIVITIES -->
		<activity
        	android:name="org.appcelerator.titanium.TiActivity"
        	android:configChanges="keyboardHidden|orientation"
      	/>
		<activity android:name="org.appcelerator.titanium.TiModalActivity"
			android:configChanges="keyboardHidden|orientation"
			android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
		/>
		<activity android:name="ti.modules.titanium.ui.TiTabActivity"
			android:configChanges="keyboardHidden|orientation"
		/>
		<activity android:name="ti.modules.titanium.media.TiVideoActivity"
			android:configChanges="keyboardHidden|orientation"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		/>

		<service
			android:name="org.appcelerator.titanium.analytics.TiAnalyticsService"
			android:exported="false"
		/>
	</application>
	
	<!-- TI_PERMISSIONS -->
	
</manifest>
