.tiActivityIndicator {
	position: absolute;
	padding: 3px;
	overflow: hidden;
	z-index: 2147483647;
	padding-left: 40px;
	vertical-align: middle;
	background-image: url('images/progressIndicator.gif');
}
