.tiTableView {
	overflow: auto;
}

.tiTableViewRow {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
}

.tiTableViewRow span {
	padding-left: 10px;
}

.tiTableViewRow .leftImage, .tiTableViewRow .rightImage {
	height: 100%;
	display: table;
}

.tiTableViewRow .leftImage {
	float: left;
}

.tiTableViewRow .rightImage {
	float: right;
}

.tiTableViewRow .leftImage>div,
.tiTableViewRow .rightImage>div {
	display: table-cell;
	vertical-align: middle;
}

.tiTableViewRow.hasRightImage .hasCheck,
.tiTableViewRow.hasRightImage .hasChild,
.tiTableViewRow.hasRightImage .hasDetail {
	display: none;
}

.tiTableViewRow .hasCheck,
.tiTableViewRow .hasChild,
.tiTableViewRow .hasDetail {
	height: 100%;
	width: 30px;
	position: absolute;
	top: 0;
	right: 10px;
	background-position: center right;
	background-repeat: no-repeat;
}
.tiTableViewRow .hasCheck{
	background-image: url('images/hasCheck.png');
}

.tiTableViewRow .hasChild {
	background-image: url('images/hasChild.png');
}

.tiTableViewRow .hasDetail {
	background-image: url('images/hasDetail.png');
}
