name: Backport
on:
  pull_request_target:
    types:
      - closed
      - labeled

jobs:
  backport:
    runs-on: ubuntu-20.04
    name: Backport
    steps:
      - name: Backport
        uses: ewanharris/backport@v1.0.28-25
        with:
          bot_username: build
          bot_token: ${{ secrets.BOT_TOKEN }}
          bot_token_key: ${{ secrets.BOT_TOKEN_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
