body
{
	font-family:sans-serif;
}

h1,h2
{
	color:#900;
}

p
{
	margin-bottom:20px;
}

#suite th,td { text-align:center;}
.testcase {
	background-color: #000066;
	color: white;
	font-size: 75%;
	margin-bottom: 3px;
}
.test-pass {
	/*display:none;*/
}
.test-desc {
	font-size: 85%;
}
.test-msg {
	font-size: 75%;
	color : #CC6600;
}
.pass {
	font-size: 85%;
	color:green;
}
.fail {
	font-size: 85%;
	color: red;
}
.exception {
	color: orange;
	font-size: 75%;
}